
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #fefae0;
      }

      .container {
        position: relative;
        text-align: center;
        padding: 20px;
      }

      .close-button {
        position: absolute;
        top: 10px;
        left: 10px;
        text-decoration: none;
        font-size: 36px;
        color: #000;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #666666;
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .username-input {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        font-size: 16px;
      }

      .submit-button {
        width: 80%;
        padding: 10px;
        background-color: #d4a373;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }

      .submit-button:hover {
        background-color: #d4a373;
      }