
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fefae0;
    }
    .container {
      padding: 20px;
    }
    .form-container {

      padding: 20px;

    }
    .form-container h5 {
      color: black;
    }
    .form-field {
      margin-bottom: 20px;
    }
    .form-field input,
    .form-field textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .form-field button {
      background-color: #d4a373;
      color: white;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
    }
    .form-field button:hover {
      background-color: #434190;
    }