
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #fefae0;
      }
      .header {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-align: center;
      }
      .container {
        padding: 20px;
        padding-bottom: 80px;
      }
      .search-container {
        display: flex;
        align-items: center;
        background-color: #e9edc9;
        border-radius: 20px;
        box-shadow: 5px 10px #e9edc9;
        padding: 10px 20px;
        margin-bottom: 20px;
      }

      .search-container input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 12px;
      }

      .search-container i {
        background: none;
        border: none;
        color: black;
        cursor: pointer;
      }
      .question-list {
        max-width: 600px;
        margin: 20px auto;
        background-color: #e9edc9;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 5px 10px #e9edc9;
      }
      .question {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .question-title {
        font-size: 18px;
        font-weight: bold;
      }
      .question-time {
        color: #666;
        font-size: 14px;
      }
      .question-description {
        margin-top: 5px;
        color: #333;
      }
      .question-icons {
        margin-top: 10px;
      }
      .question-icons img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        cursor: pointer;
      }
      .comments-section {
        margin-top: 10px;
      }
      .comment-form input[type="text"] {
        width: 80%;
        padding: 5px;
        margin-right: 10px;
      }
      .comment-form button {
        padding: 5px 10px;
        background-color: #d4a373;
        color: white;
        border: none;
        cursor: pointer;
      }
      .comments {
        margin-top: 10px;
      }

      .cancel-button {
        background-color: #d4a373;
        border: none;
        color: white;
        cursor: pointer;
        display: none;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 5px;
        transition: background-color 0.3s;
      }

      .brown-link {
        color: brown;
      }
      

      .search-container input:focus + #cancelButton {
        display: inline;
      }