body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

:root {
  --main-color: #00bfff;
  --drawer-color: whitesmoke;
  --profile-color: #cfcfcf;
}

.bottom-nav {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -4px 6px black;
  position: fixed;
  bottom: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.nav-item i.material-icons {
  font-size: 28px;
}

.bottom-drawer {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 40%;
  max-height: 40%;
  background-color: var(--drawer-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  transition: bottom 0.3s;
  z-index: 1000;
  overflow-y: auto;
}

.bottom-drawer.active {
  bottom: 0;
}

.drawer-content {
  padding: 20px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.close-btn i.material-icons {
  font-size: 48px;
}

.profiles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 50px;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--profile-color);
  border-radius: 50px;
  gap: 10px;
}

.add-account-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 50px;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  gap: 10px;
  position: sticky;
  bottom: 20px;
  z-index: 1100;
}

.add-account-btn i {
  font-size: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
