body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

:root {
  --main-color: #00bfff;
}

.header-section {
  width: 100%;
  height: 30vh;
  background-image: url("../../images/baby-sync-header-section-bgm.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}

.header-btn {
  z-index: 100;
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  width: 100%;
  margin-bottom: 10vh;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 90vw;
  max-width: 400px;
}

.box {
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 30px;
  box-shadow: 5px 10px lightblue;
  font-size: 1.2em;
}

.box i.material-icons {
  font-size: 48px;
  margin-bottom: 5px;
}
