body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #d4a373;
  align-items: center;
}

.user-icon {
  font-size: 24px;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #FAEDCD;
}

.banner-container {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100px;
  margin-bottom: 10px;
}

.banner {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  transition: transform 0.5s ease;
}

.content-boxes {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
}

.box {
  flex: 0 0 30%;
  padding: 10px;
  margin: 5px;
  background-color:#ccd5ae;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.box i{
  color: black;
  font-size: 30px;
}

.baby-container {
  display: flex;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #d4a373;
}

.baby-info {
  display: flex;
  align-items: center;
}

.baby-icon {
  font-size: 36px;
  margin-right: 10px;
}

.baby-details {
  flex: 1;
}

.add-baby {
  display: flex;
  justify-content: right;
  margin-bottom: 0px;
}

.add-baby i{
  color: black;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #f8f8f8;
  padding: 10px;
}

.bottom-nav button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.user-icon {
  height: 20px;
  width: auto;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.label{
  text-align: center;
}
.baby-profiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.baby-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.baby-info {
  display: flex;
  align-items: center;
}

.baby-icon {
  font-size: 36px;
  color: #d4a373; /* Adjust the color to match your theme */
  margin-right: 10px;
}

.baby-details {
  flex: 1;
}

.baby-name {
  font-weight: bold;
  font-size: 1.2em;
}

.baby-age,
.baby-height {
  margin-top: 5px;
  color: #666; /* Adjust the color to match your theme */
}