
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fefae0;
      }

      .container {
        padding: 20px;
        padding-bottom: 80px;
      }

      .search-container {
        display: flex;
        align-items: center;
        background-color: #e9edc9;
        border-radius: 20px;
        box-shadow: 5px 10px #e9edc9;
        padding: 10px 20px;
        margin-bottom: 20px;
      }

      .search-container input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 12px;
      }

      .search-container i {
        background: none;
        border: none;
        color: black;
        cursor: pointer;
      }

      .nanny-card {
        background-color: #e9edc9;
        border-radius: 20px;
        padding: 25px;
        margin-bottom: 20px;
        box-shadow: 5px 10px #e9edc9;
      }

      .nanny-card p strong {
        color: black;
        font-size: 1.1rem;
        font-weight: 700;
      }

      .hire-button {
        background-color: #d4a373;
        text-transform: uppercase;
        color: white;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 0.9rem;
  font-weight: 700;
        display: block;
        text-align: center;
      }

      .hire-button:hover {
        background-color: #ccd5ae;
      }

      .cancel-button {
        background-color: #d4a373;
        border: none;
        color: white;
        cursor: pointer;
        display: none;
        padding: 5px 10px;
        border-radius: 5px;
        margin-left: 5px;
        transition: background-color 0.3s;
      }

      .search-container input:focus + #cancelButton {
        display: inline;
      }

      .reviews {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .review {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
      }

      .review-form {
        margin-top: 20px;
      }

      .review-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      .rating {
        display: flex;
        align-items: center;
      }

      .rating i {
        color: gold;
        cursor: pointer;
      }

      .average-rating {
        font-size: 18px;
        color: black;
        margin-top: 10px;
      }