* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --btn-primary-color: #d4a373;
  --btn-hover-color: #ccd5ae;
  --link-primary-color: #d4a373;
  --background-color: #fefae0;
  --input-background-color: #e9edc9;
  --input-text-color: #2b2d2f;
  --secondary-background-color: #faedcd;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--input-text-color);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.profile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ccd5ae;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

form {
  width: 100%;
  color: var(--input-text-color);
  padding: 0.9rem;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 20px;
}

label span {
  display: block;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 5px;
  transition: color 0.3s ease-out;
}

label:focus-within span {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-out;
  background-color: var(
    --input-background-color
  );
  color: var(--input-text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: var(--btn-primary-color);
}

.button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  cursor: pointer;
  background-color: var(--btn-primary-color);
  color: #fff;
  border-radius: 0.45rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
}

.button:hover {
  background-color: var(--btn-hover-color);
}

.passwd-wrap {
  position: relative;
}

#show-passwd {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.5rem;
  display: flex;
  align-items: center;
}

#show-passwd img {
  width: 25px;
  height: auto;
}

#go-to-customer-service {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#go-to-customer-service a {
  text-decoration: none;
  color: var(--link-primary-color);
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.toggle-switch label {
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch .lever {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.toggle-switch .lever:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.toggle-switch input[type="checkbox"]:checked + .lever {
  background-color: var(--btn-primary-color);
}

.toggle-switch input[type="checkbox"]:checked + .lever:before {
  transform: translateX(30px);
}
