* {
  font-family: "montserrat", sans-serif;
}

header img {
  display: flex;
  margin: 50px auto 0px auto;
  height: 90px;
  width: 90px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: block;
  width: 100%;
  margin: auto;
  color: #2b2d2f;
  padding: 0.9rem;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  color: blue;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 20px;
}

label span {
  display: block;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: 0.3s ease-out;
}

label:focus-within span {
  color: #2b2d2f;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 300px;
  padding: 1rem;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #2b2d2f;
}

input[type="email"],
input[type="password"] {
  display: block;
  width: 300px; /* Adjust width as desired */
  padding: 1rem;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-out;
}

.button {
  display: block;
  width: 100%;
  margin: 10px auto 0; /* Center the button horizontally with top margin */
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border-radius: 0.45rem;
  padding: 0.9rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  transition: background-color 0.3s ease-out;
}

.button:hover {
  background-color: crimson;
}

.passwd-wrap {
  position: relative;
}

#show-passwd,
#show-passwd2 {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.5rem;
  display: flex;
  align-items: center;
}

#show-passwd img,
#show-passwd2 img {
  width: 25px;
  height: auto;
}

#go-to-register,
#go-to-signin {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
