
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    
    border-radius: 5px;
}

header img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

main {
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: flex;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding : 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
