* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --btn-primary-color: blue;
  --btn-hover-color: crimson;
  --link-primary-color: blue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

header img {
  margin: 10px auto 0;
  height: 130px;
  width: 130px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

form {
  width: 100%;
  color: black;
  padding: 0.9rem;
  max-width: 400px;
}

h3 {
  text-align: start;
  font-size: 2.5rem;
  color: blue;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 20px;
}

label span {
  display: block;
  color: #aaa;
  font-size: 1rem;
  margin-bottom: 5px;
  transition: color 0.3s ease-out;
}

label:focus-within span {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: black;
}

.button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  cursor: pointer;
  background-color: var(--btn-primary-color);
  color: #fff;
  border-radius: 0.45rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s ease-out;
}

.button:hover {
  background-color: var(--btn-hover-color);
}

.passwd-wrap {
  position: relative;
}

#show-passwd {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.5rem;
  display: flex;
  align-items: center;
}

#show-passwd img {
  width: 25px;
  height: auto;
}

#go-to-register,
#go-to-signin {
  text-align: center;
  margin-top: 20px;
}

#go-to-register a,
#go-to-signin a {
  text-decoration: none;
  color: var(--link-primary-color);
}
